<div class="row">
  <h4>Chart</h4>
  <div id="weightChart" ng-controller="weightChartCtrl"></div>
  <h4>Table</h4>
  <p>
    <span>Weight table - last 10 days trend</span>
    <table class="weight-table table table-hover table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="weight in weights | orderBy:'date' | limitTo:-10">
        <td>{{$index+1}}</td>
        <td>{{weight.date | date:'yyyy-MM-dd'}}</td>
        <td>{{weight.weight}}</td>
        <td><span class="glyphicon glyphicon-remove clickable" ng-click="deleteEntry(weight._id)" ng-confirm-click="Deleting entry. Are you sure?"></span></td>
      </tr>
    </table>
  </p>

  <h4>Add Weights</h4>
  <div ng-controller="ModalCtrl">
    <button class="btn btn-default" ng-click="open()">Add</button>
  </div>
</div>